<launch>

    <include file="$(find lingao_visual)/launch/lingao_depthcamera.launch"/>

    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
		<param name="scan_height" value="1"/>
		<param name="scan_time" value="0.05"/>
		<param name="range_min" value="0.5"/>
		<param name="range_max" value="8"/>
		<param name="output_frame_id" value="laser" />

        <remap from="/image" to="/camera/depth/image_raw" />
		<remap from="/camera_info" to="/camera/depth/camera_info" />
		
	</node>

	<!-- Publish static transform of the laser. Define your sensor offset here -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0  /camera_link /laser"/>


</launch>
